@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";


$primary-color:#07758d;
$secondary-color : #6f0000;

$theme-colors: (
        "primary":    $primary-color,
        "secondary":  $secondary-color,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark,
);
@import "~bootstrap/scss/bootstrap";
header{
  background-color: $secondary-color;
}


